<html>
<head>
	<title>website</title>
</head>
<body>
	<table width="100%" cellspacing="0">
		<tr bgcolor="#3b5998">
			<td width="55%"><img src="images/images.jpg" width="220px" height="100px"></td> 
			<td align="left"> <input type="text"><input type="text">
				<input type="button" value="login">
			</td>
		</tr>
		<tr bgcolor="#edf0f5" height="600px">
			<td valign="top" align="center"><br><br>
            <table border="0" width="80%">
            	<tr>
            		<td><h2><font face="verdana">connect with facebook friends and the world around you on facebook.</font></h2></td>
            	</tr>
            	<tr>
            		<td><font face="verdana"><br>
            			<img src="images/images.png" width="35px" height="35px">&nbsp;&nbsp;see photos and updates from friends in news feed.<br><br>
<img src="images/images.png" width="35px" height="35px" >&nbsp;&nbsp;share what's new in your life on your timeline.<br><br>

<img src="images/images.png" width="35px" height="35px">&nbsp;&nbsp;find more of what you're looking for with graph search.<br>
</font>
</td>
</tr>
</table>   




</td>

<td valign="top" align="center">
	<h1>Sign Up</h1>
	<table border="0" cellspacing="10">
		<tr>
			<td><input type="text" placeholder="first name" style="height:30px"size="20"></td>
			<td align="left"><input type="text" placeholder="last name" style="height:30px"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="text" size="60" placeholder="mobile number" style="height:40px">
			</td>
		</tr>
<tr>
			<td colspan="2"><input type="text" size="60" placeholder="email" style="height:40px">
			</td>
			<tr>
			<td colspan="2"><input type="text" size="60" placeholder="password" style="height:40px">
			</td>
</tr>
<tr>
	<td colspan="2"><font color="#666666" face="verdana,arial,helvetica,sans-serif" size="1">by clicking Sign up,you agree to our terms and that you have read our data use policy,including our cookie use.
	</font>
			</td>
	
</tr>
<tr>
	<td colspan="2"><img src="images/download.jpg" width="140"></td>
</tr>



	</table>
</td>




</table>
</body>
</html>