{% load static %}
<!DOCTYPE html>
<html>
<title>projecthome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'prohome.css'%}">
<style></style>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="#home" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i>LOGOUT</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="#LOGIN" class="w3-bar-item w3-button"><i class="fa fa-sign-in"></i>LOGIN</a>
                <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
                <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
                <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
                <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
        <a href="#LOGIN" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
        <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small">Welcome To Cargarage</span><br>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium">Welcome To Cargarage</span><br>
            <span class="w3-large">This way you can make your car service booking much easier</span>
        </div>
        <!-- <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <i class="fa fa-google w3-hover-opacity"></i>
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div> -->
    </header>

    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="about">
        <h3 class="w3-center">ABOUT THE COMPANY</h3>
        <p class="w3-center w3-large">Key features of our company</p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vero in officiis minima error perspiciatis, explicabo doloremque perferendis nulla dolor dolorum. Doloribus quasi delectus iure qui accusantium suscipit ex dolor!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est blanditiis incidunt, vel et harum impedit ipsum minus minima corporis a earum dolores quasi reiciendis consectetur alias aliquid porro voluptas.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque repellendus illo quod rem laboriosam perferendis beatae, sequi, fugiat veniam molestiae magni ducimus officia, dolores nulla fuga ex voluptate tempore autem!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam reprehenderit aliquam quia mollitia animi nobis, magni ad amet maiores enim, explicabo atque ab! Odio iusto perferendis, explicabo asperiores ut enim!</p>
        </div>
    </div>

    <!-- Team Section -->
    <div class="w3-container" style="padding:128px 16px" id="team">
        <h3 class="w3-center">THE TEAM</h3>
        <p class="w3-center w3-large">The ones who runs this company</p>
        <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="{% static 'images/ab.jpeg' %}" alt="" style="width:100%;">
                    <div class="w3-container">
                        <h3>Abin Dharmaraj</h3>
                        <p class="w3-opacity">CEO & Founder</p>
                        <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="{% static 'images/ab.jpeg' %}" alt="" style="width:100%">
                    <div class="w3-container">
                        <h3>joe</h3>
                        <p class="w3-opacity">Art Director</p>
                        <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="{% static 'images/ab.jpeg' %}" alt="" style="width:100%">
                    <div class="w3-container">
                        <h3>john</h3>
                        <p class="w3-opacity">Web Designer</p>
                        <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="{% static 'images/ab.jpeg' %}" alt="" style="width:100%">
                    <div class="w3-container">
                        <h3>mike</h3>
                        <p class="w3-opacity">Designer</p>
                        <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Promo Section "Statistics" -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
        <div class="w3-quarter">
            <span class="w3-xxlarge">4+</span>
            <br>Partners
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">55+</span>
            <br>Projects Done
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">89+</span>
            <br>Happy Clients
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">150+</span>
            <br>Meetings
        </div>
    </div>

    <!-- Work Section -->
    <div class="w3-container" style="padding:128px 16px" id="work">
        <h3 class="w3-center">OUR WORK</h3>
        <p class="w3-center w3-large">What we've done for people</p>

        <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-col l3 m6">
                <img src="{% static 'images/im2.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/im1.jpeg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/images.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/im3.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

    <!-- Skills Section -->
    <div class="w3-container w3-light-grey w3-padding-64">
        <div class="w3-row-padding">
            <div class="w3-col m12">
                <h3 class="w3-center">OUR SKILLS</h3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quas ad nobis accusamus iste quis nihil perspiciatis suscipit quo nostrum doloremque eum blanditiis totam, fugiat architecto tempore voluptatem, necessitatibus itaque.</P>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error hic fugiat, numquam consequuntur atque corrupti commodi, similique voluptas temporibus officiis ipsam obcaecati blanditiis autem iure praesentium ab! Mollitia, vitae harum.</P>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni suscipit error culpa ea, consectetur laboriosam dolor unde, impedit excepturi consequatur vero laborum nam provident sed repellat iure praesentium eum accusantium!</P>
            </div>
            <div class="w3-row-padding w3-section">
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/por.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/mus.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/lam.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/aston.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
            </div>
            <div class="w3-row-padding w3-section">
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/jag.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/bent.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/bmw.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
                <div class="w3-col l3 m6">
                    <img src="{% static 'images/mc.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
                </div>
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/audi.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/benz.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/volk.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/ford.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
        </div>
    </div>

    <!-- service Section -->

    <div class="w3-row w3-center w3-dark-grey" style="padding:128px 16px" id="LOGIN">

        <h3>SERVICE YOUR VEHICLE</h3>
        <p class="w3-large">Create your Account.</p>
        <div class="w3-row">
            <div class="w3-half">
                <div class="form-box">
                    <form class="form-container">
                        <div>
                            <h1 style="text-align: center; color: black;"> Login</h1>
                        </div>
                        <div>Email</div>
                        <div class="form-input">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="email" placeholder="Enter your email" required>
                        </div>

                        <div>Password</div>
                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" placeholder="Enter your password">
                        </div>

                        <div class="or"> <span style="color: black;"><br> Or Sign Up Using</span> </div> <br>


                        <div style="padding-top: 50px;">
                            <button type="submit" class="w3-button w3-black w3-padding-large"><h6>LOGIN</h6></button>
                        </div>


                    </form>
                </div>
            </div>

            <!---signup form-->
            <div class="w3-half">
                <div class="form-box">
                    <form class="form-container">
                        <div>
                            <h1 style="text-align: center; color: black;"> Sign Up</h1>
                        </div>

                        <div class="form-input">
                            <span><i class="fa fa-user"></i></span>
                            <input type="text" placeholder="Username" required>
                        </div>


                        <div class="form-input">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="email" placeholder="Email">
                        </div>


                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" placeholder="Password">
                        </div>


                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" placeholder="Confirm password">
                        </div>
                        <div style="padding-top: 20px;">
                            <button type="submit" class="w3-button w3-black w3-padding-large"><h6>LOGIN</h6></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <!-- Contact Section -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
        <h3 class="w3-center">CONTACT</h3>
        <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
        <div style="margin-top:48px">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i>Kerala,INDIA</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone : 8943 61 50 64</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email : abinbdharmaraj@mail.com</p>
            <br>
            <!-- <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-black" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form> -->
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-google w3-hover-opacity"></i>
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Created by <a href="" title="" target="_blank" class="w3-hover-text-green">Abindharmaraj</a></p>
    </footer>

    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>

</html>